html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
div {
  display: flex;
  flex: 1;
  flex-direction: column;
}
div.header {
  flex: 0;
  background-color: #d3dfe9;
}
h1 {
  color: #007a7c;
  text-align: center;
}
div.body {
  justify-content: stretch;
}
div.footer {
  background-color: #d3dfe9;
  flex: 0;
  align-items: center;
}
